__pycache__/
*__pycache__*
.mypy_cache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
temp/
.temp/
.DS_Store
*.egg-info/
deploy-louie.ps1
firebase.json
secrets/
.secrets/